.container {
    padding: 5%;
    overflow-x: hidden; /* prevent horizontal scroll */
    min-height: calc(100vh - 100px); /* Adjust height to account for header and footer */
  }
  
  @keyframes float {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .image-container {
    position: relative;
    text-align: center;
    /* animation: float 3s ease-in-out infinite; */
  }

  .responsive-image {
    width: 100%;
    height: auto;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Background color for better readability */
    padding: 10px; /* Optional: Padding for the text */
    border-radius: 5px; /* Optional: Rounded corners for the text background */
  }
  
/* Footer Related */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .footer-container {
    position: relative;
    bottom: 0%;
    width: 100%
  }