/* styles.css or your main stylesheet */
.scroll-to-top {
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-to-top:hover {
    background-color: #fbbf24; /* Light gray color on hover */
  }
  